<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mercado Liebre</title>
        <script
            src="https://kit.fontawesome.com/c435cf0167.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="register">
        <header>
            <div class="container">
                <div class="superior">
                    <div class="logo">
                        <a href="/" class="main-header_home-link">
                            <img src="/images/logo-mercado-liebre.svg">
                        </a>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="Buscar productos, marcas" style="width: 100%;">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                <nav>
                    <ul class="first">
                       <li><a href="">Ofertas</a></li>
                       <li><a href="">Tiendas Oficiales</a></li>
                       <li><a href="">Vender</a></li>
                       <li><a href="">Ayuda</a></li>
                    </ul>
                    <ul class="second">
                        <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
                <div class="burger-menu">
                    <button class="burger"><i class="fas fa-bars"></i></button>
                </div>
            </div>
        </header>
        <main>
            <section>
                <h1>Bienvenido/a</h1>
                <hr>
                <form action="">
                    <div class="form-container">
                        <div class="register__form-box">
                            <label for="nombre">Nombre y Apellido:</label>
                            <input class="register__form-imput" type="text" id="nombre" name="nombre" placeholder="Nombre y Apellido">
                            <span class="register__text-error">Obligatorio</span>
                        </div>
                        <div class="register__form-box">
                            <label for="nick">Nombre de Usuario:</label>
                            <input class="register__form-imput" type="text" id="nick" name="nick" placeholder="Nombre de Usuario">
                            <span class="register__text-error">Obligatorio</span>
                        </div>
                        <div class="register__form-box">
                            <label for="email">E-mail:</label>
                            <input class="register__form-imput" type="email" id="email" name="email" placeholder="Correo Electronico">
                            <span class="register__text-error">Obligatorio</span>
                        </div>
                        <div class="register__form-box">
                            <label for="password">Contraseña:</label>
                            <input class="register__form-imput" type="password" id="password" name="password" placeholder="Contraseña">
                            <span class="register__text-error">Obligatorio</span>
                        </div>
                        <div class="register__form-box">
                            <label for="password2">Repita su Contraseña</label>
                            <input class="register__form-imput" type="password2" id="password2" name="password2" placeholder="Repita su Contraseña">
                            <span class="register__text-error">Obligatorio</span>
                        </div>
                        <h4>Fecha de Nacimiento</h4>
                        <div class="register__form-box">
                            <label for="date"></label>
                            <input type="date" id="date" name="date" value="">
                        </div>
                        <div class="register__form-box">
                            <label for="domicilio">Domicilio:</label>
                            <input class="register__form-imput" type="text" id="domicilio" name="domicilio" placeholder="Domicilio">
                        </div>
                        <div class="register__form-box">
                            <h4>Perfil del Usuario</h4>
                                <div class="register__radio-box">
                                    <input type="radio" name="rol" id="comprador" value="com">
                                    <label for="comprador">Comprador</label>
                                </div>
                                <div class="register__radio-box">
                                    <input type="radio" name="rol" id="vendedor" value="ven">
                                    <label for="vendedor">Vendedor</label>
                                </div>
                        </div>
                        <div class="register__form-intereses">
                            <h4>Intereses</h4>
                                <div>
                                    <input type="checkbox" name="intereses" id="eletro" value="eletro">
                                    <label for="eletro">Electro</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" id="moda" value="moda">
                                    <label for="moda">Moda</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" id="hogar" value="hogar">
                                    <label for="hogar">Hogar</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" id="jugueteria" value="jugueteria">
                                    <label for="jugueteria">Jugueteria</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="intereses" id="vidaSana" value="vidaSana">
                                    <label for="vidaSana">Vida Sana</label>
                                </div>
                        </div>
                        <div>
                            <h4>Imagen de Perfil</h4>
                        </div>
                        <div class="register__form-box register__center">
                            <input class="" type="checkbox" name="terminos" id="terminos">
                            <label for="terminos">Términos y Condiciones</label>
                        </div>
                        <div class="register__form-box register__center">
                            <button type="reset" style="background-color: rgb(252, 35, 35);">Eliminar Formulario</button>
                            <button type="submit">Registrarme</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <footer>
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p>
            </section>
    
            <section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>    
    </body>
</html>