footer{
    text-align: center;
    padding: 20px 0;
}
footer section{
    padding:50px 0;
}
footer i{
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom :10px;
}
footer h3{
    color: var(--colorGris-oscuro);
    margin: 0;
}
footer p{
    margin: 0;
}
footer section.copyright{
    padding:5px 0;
    text-align: initial;
}

                                                /* TABLET */
@media(min-width:426px){
}
                                                /* LAPTOP */
@media(min-width:769px){
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer section{
        padding: 50px 20px 10px 0;
        width:17%;
    }footer section:hover{
        border-radius: 10px;
        background-color: var(--colorGris-claro);
        color: var(--colorCeleste);
    }
    footer section.copyright{
        margin-top: 10px ;
        text-align: center;
        width: 100%;
    }

}