footer{
    text-align: center;
    padding: 20px 0;
}
footer section{
    padding:50px 60px 0;
}
footer i{
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom :10px;
}
footer h3{
    color: var(--colorGris-oscuro);
    margin: 0;
}
footer p{
    margin: 0;
}
footer section.copyright{
    padding:50px 20px 0;
    text-align: initial;
}

                                                /* TABLET */

                                                /* LAPTOP */
@media(min-width:769px){
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer section{
        width:17%;
    }
    footer section.copyright{
        text-align: center;
        width: 100%;
    }

}