header{
    background-color: var(--colorAmarillo);
    padding: 20px 0;
}
header .superior{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px 10px;
}
header .logo{
    width: 45% ;
    height: 10%;
}
header .search{
    align-items: center;
    width: 45%;
}
header p{
    padding: 10px 0;
    text-align: center;
}
button.burger{
    background-color: var(--colorCeleste);
    border-radius: 8px;
    color: white;
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 45px;
}

                                                /* MOBIL */
@media(max-width:425px){
    /*     HEADER*/
    header nav ul.first{
        display: none;
    }
    header nav ul.second{
        display: none;
    }
}
                                                /* TABLET */
@media(min-width:426px){
    header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    header .superior{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px;
        width: 75%;
    }
    header p{
        text-align: center;
        width: 150px;
    }
    header nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    header nav ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    button.burger{
        display: none;
    }
}
                                                /* LAPTOP */
@media(min-width:769px){
    
}