*{
    padding: 0;
    margin: 0;
}

                                                /* HEATHER */
header{
    background-color: var(--colorAmarillo);
    padding: 20px 0;
}
header .superior{
    padding: 0px 20px;
}
header div img{
    width: 45% ;
    height: 10%;
}
header p{
    font-family: "Roboto";
    text-align: center;
    margin: 20px;
}
header div.search{
    padding: 0 10px;
}
header nav ul li a{
    color: black;
    font-family: "Roboto";
    text-decoration: none;
}
body header nav ul li{
    font-family: "Roboto";
    font-size: 12px;
    list-style: none;
}
header nav ul.first{
    margin-top: 20px;
}
header nav ul.second{
    margin-top: 10px;
}
button.burger{
    background-color: var(--colorCeleste);
    border: none;
    border-radius: 8px;
    color: white;
    display: block;
    font-size: 32px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 50px;
}
                                                    /* MAIN */

main{
    background-color: var(--colorGris-claro);
}
main .banner{
    display: auto;
}
main article p.precio{
    font-family: "Roboto";
    font-size: 18px;
    margin: 0;
}
main article p.descuento{
    font-family: "Roboto";
    font-size: 16px;
    color:var(--colorVerde);
    margin: 0;
}
main article h4{
    color: var(--colorGris-oscuro);
    font-family: "Roboto";
    font-size: 16px;
    margin:0;
}
main h3{
    color: var(--colorGris-oscuro);
    font-family: "Roboto";
    font-size: 24px;
    margin:0;
}
main section{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
main section article{
    background-color: white;
    margin: 10px 0;
}
main section article div{
    border: solid 1px #ebebeb;
    padding: 0 15px;
    text-align: left;
}
main section article div i.fa-solid.fa-truck{
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    color: var(--colorVerde);
    font-size: 20px;
    height: 10px;
    padding: 20px;
    text-align: center;
    width: 10px;
}


                                                    /* FOOTER */
footer{
    padding: 20px 0;
    text-align: center;
}
footer section{
    padding:50px 30px 0;
    text-align: center;
}
footer section i.fa-solid.fa-credit-card{
    background-color: white;
    color: var(--colorCeleste);
    display: block;
    font-size: 2em;
    margin: 0 auto 10px;
}
footer section i.fa-solid.fa-gift{
    background-color: white;
    color: var(--colorCeleste);
    display: block;
    font-size: 2em;
    margin: 0 auto 10px;
}
footer section i.fa-solid.fa-user-shield{
    background-color: white;
    color: var(--colorCeleste);
    display: block;
    font-size: 2em;
    margin: 0 auto 10px;
}
footer section h3{
    color: var(--colorGris-oscuro);
    font-family: "Roboto";
    font-size: 20px;
    margin: 0;
}
footer section p{
    color: var(--colorGris-oscuro);
    font-family: "Roboto";
    margin: 0;
}
footer section h6{
    color: var(--colorGris-oscuro);
    font-family: "Roboto";
    font-size: 12px;
    padding:50px 20px 0;
    text-align: initial;
}

                                                /* MOBIL */
@media(max-width:425px){
    /*     HEADER*/
    header nav ul.first{
        display: none;
    }
    header nav ul.second{
        display: none;
    }
}
                                                /* TABLET */
@media(min-width:426px){
    button.burger{
        display: none;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}
                                                /* DESKTOP */
@media(min-width:769px){
    button.burger{
        display: none;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}